[project]
	description = It's not weird if it works.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group weirdo-core
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group Registered Users
	label-Verified = -1..+1 group Registered Users
[access "refs/heads/*"]
	read = group Anonymous Users
	read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
