[project]
	description = It's not weird if it works.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Moreau Simard (dmsimard)
[access "refs/for/refs/*"]
	read = group user/David Moreau Simard (dmsimard)
	push = group user/David Moreau Simard (dmsimard)
	label-Code-Review = -2..+2 group user/David Moreau Simard (dmsimard)
	label-Verified = -1..+1 group user/David Moreau Simard (dmsimard)
	rebase = group user/David Moreau Simard (dmsimard)
	removeReviewer = group user/David Moreau Simard (dmsimard)
	submit = group user/David Moreau Simard (dmsimard)
[access "refs/heads/*"]
	read = group user/David Moreau Simard (dmsimard)
	create = group user/David Moreau Simard (dmsimard)
	push = +force group user/David Moreau Simard (dmsimard)
	pushMerge = group user/David Moreau Simard (dmsimard)
[access "refs/tags/*"]
	push = +force group user/David Moreau Simard (dmsimard)
	pushTag = group user/David Moreau Simard (dmsimard)
	pushSignedTag = group user/David Moreau Simard (dmsimard)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
