[facts]
ci_environment={{ ci_environment }}
session={{ cico_data.results.ssid }}
{% if build_url %}
build_url={{ build_url }}
{% endif %}
{% if jenkins_url %}
jenkins_url={{ jenkins_url }}
{% endif %}
